---
import 'katex/dist/katex.min.css';
import katex from 'katex';

interface Props {
  formula: string;
  display?: boolean; // Formula will be displayed in a form of a centered block.
  box?: boolean; // Formula will be displayed in a box.
}

const { formula, display = false, box = false } = Astro.props;

const html = katex.renderToString(formula, {
  throwOnError: false,
  displayMode: display,
});
---

{ box ? (
  <span class="dark:bg-slate-800 bg-slate-200 inline p-1 rounded">
    <span set:html={html} />
  </span>
) : (
  <span set:html={html} />
)}